<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Edit Profile</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<style>
	body {
		background-color: rgb(230, 230, 230);
		font-family: 'proxima-nova', sans-serif;

	}

	.container a {
		padding-right: 30px;
		transition: 0.3s;
	}

	#removeCourse {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	#submitProf {
		transition: 0.3s;
	}

	body button {
		transition: 0.3s;
	}

	#editProfPic {
		display: inline-block;
	}

	footer {
		background-color: rgb(207, 207, 207);
	}
</style>
</head>
<body>

<script>
	
	// var search = document.querySelector('#search');
	// var results = document.querySelector('#searchresults');
	// var templateContent = document.querySelector('#resultstemplate').content;
	// search.addEventListener('keyup', function handler(event) {
	// 	while (results.children.length) results.removeChild(results.firstChild);
	// 	var inputVal = new RegExp(search.value.trim(), 'i');
	// 	var clonedOptions = templateContent.cloneNode(true);
	// 	var set = Array.prototype.reduce.call(clonedOptions.children, function searchFilter(frag, el) {
	// if (inputVal.test(el.textContent) && frag.children.length < 5) frag.appendChild(el);
	// 		return frag;
	// 	}, document.createDocumentFragment());
	// 	results.appendChild(set);
	// });


	// function onButtonClick(){
	// document.getElementById('email').className="show";
	// document.getElementById('classesName').className="show";
	// };	

</script>

.hide{
	display:none;
  }
  .show{
	display:block;
  }

	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top" style="text-align:center">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span><span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>


			<a style="font-size: 25px; padding-right: 40px;" id="logo" class="navbar-brand" th:href="@{/}">ClassBuddy</a>
			<a class="navbar-brand"  th:href="@{/explore}">Explore</a>
				<a class="navbar-brand"  th:href="@{/profile}">Profile</a>
				<a class="navbar-brand" th:href="@{/profile/edit}">Edit Profile</a>
				<a class="navbar-brand" th:href="@{/logout}">Logout</a>

			</div>
		</div>
	</nav>
<br>
<br>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<br>



				<div th:if="${param.fileNotSaved}">
					<div class="alert alert-danger">Profile picture could not be updated</div>
				</div>

				<div class="display">
					<h1> Now Editing <span th:text="${student.firstName}"></span> <span th:text="${student.lastName}"></span>'s Profile</h1>

				</div>
				<br>
				<label class="control-label">Edit Profile Picture</label>
				<br>


				<div id="editProfPic">

					<form id="editProfPic" method="POST" action="/photos/add" enctype="multipart/form-data">
						<input type="file" style="width: 95px; margin-top: 15px; margin-left: 27px;" name="image" accept="image/*" />
						<br>	

						<input id="submitProf" type="submit" value="Upload" class="btn btn-info"/>
					</form>

					<form id="editProfPic" method="POST" action="/photos/remove">
						<input id="submitProf" type="submit" class="btn btn-danger" style="margin-left: -30px;" value="Remove" />

					</form>



				</div>
				<br>





				<br>

				
				<form th:action="@{/update}" method="post" th:object="${student}">

					<div class="form-group">
						<div class="col">
							<label for="firstName">First Name</label>
						  <input type="text" class="form-control" th:value="${student.firstName}" name="updateFirstName" style="width:250px">
						</div>
						<br>
						<div class="col">
							<label for="lastName">Last Name</label>
						  <input type="text" class="form-control" th:value="${student.lastName}" name="updateLastName" style="width:250px">
						</div>
						<br>
						<label class="control-label" for="schoolYear">School Year</label>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Freshman" checked>
								Freshman
							</div>
							<div class="form-check">
							<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Sophomore">
								Sophomore
							</div>
							<div class="form-check">
							<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Junior">
								Junior
							</div>
							<div class="form-check">
							<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Senior">
								Senior
							</div>
							<div class="form-check">
							<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Other">
								Other
						</div>
						<br>

						<label class="control-label" for="schoolYear">First Major</label>
						<select class="form-control" name="updateMajor1" id="selectList"  style="width: 250px;">
							<option th:each="major : ${majorList}" th:value="${major}" th:text="${major}" th:selected="${major.equals(student.major1)}">
							
							</option>
						</select>
								
						<br>
						<label class="control-label" for="schoolYear">Second Major</label>
						<select class="form-control" name="updateMajor2" id="selectList"  style="width: 250px;">
							<option th:each="major : ${majorList}" th:value="${major}" th:text="${major}"  th:selected="${major.equals(student.major2)}"></option>
						</select>

						<br>




						<button type="submit" class="btn btn-info">Update Profile</button>
					</div>

					<!-- <div class="form-group">
						<label class="control-label" for="phoneNumber"> Phone Number </label> 
						<input id="phoneNumber" class="form-control" th:field="*{phoneNumber}"
							required autofocus="autofocus" style="width:150px"/>
					</div> -->
				</form>
				</br>

				<form th:action="@{/addCourse}" method="post" th:object="${student}">
					<div class="form-group">
						<label class="control-label"> Add a Course to Your Schedule </label> 
						<input class="form-control" list="datalistOptions" th:value="${courseName}" name="courseName" placeholder="Search for a course..."
							required autofocus="autofocus" style="width:250px"/>
							<datalist id="datalistOptions">
								<option value="MATH 222">
								<option value="COMP SCI 200">
								<option value="B M E 207">
								<option value="CHEM 103">
								<option value="MUSIC 113">
								<option value="COMP SCI 537">
								<option value="MATH 222">
								<option value="ECON 101">
								<option value="CHEM 104">
								<option value="PHYSICS 201">
								<option value="FINANCE 300">
									<!-- Repalce list with autofill from DB search -->
					</div>
					<button type="submit" class="btn btn-success">Add Course</button>
				</form>

				<br>

				<ul class="list-group">

					<div th:each="class: ${student.schedule}">
						<!-- Single class div -->
						<form th:action="@{/deleteCourse}" method="post" th:object="${student}">

							<li style=" box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 6px 0 rgba(0, 0, 0, 0.19);" class="list-group-item">
								<div class="fw-bold"> <span style="font-weight: bold;" th:text="${class.abbreviation}"></span> <span style="font-weight: bold;" th:text="${class.number}"></span> </div>
								<span th:text="${class.courseName}"></span>
								<!-- <input class="btn btn-danger" type="submit" value="Remove" style="float: right;" > -->
								<input type="hidden" th:value="${class.courseName}" name="courseName">
								<button type="submit" class="btn btn-danger" id="removeCourse" style="float: right;" >Remove</button>

							</li>
							<br>
						</form>

						<!-- <p th:text="${class.abbreviation}"></p>
						<p th:text="${class.number}"></p> -->

					</div>


				</ul>


			</div>
		</div>
	</div>





	<div style="margin-top: 50px;"></div>
	<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
	<!-- Section: Social media -->
	<section
	  class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
	>
	  <!-- Left -->
	  <div id="footer-top" class="me-5 d-none d-lg-block">
		  <br>
		<span >Thank you for using ClassBuddy</span>
		<br>
	  </div>
	  <!-- Left -->
  
	  <!-- Right -->
	  <div>
		<a href="" class="me-4 text-reset">
		  <i class="fab fa-facebook-f"></i>
		</a>
		<a href="" class="me-4 text-reset">
		  <i class="fab fa-twitter"></i>
		</a>
		<a href="" class="me-4 text-reset">
		  <i class="fab fa-google"></i>
		</a>
		<a href="" class="me-4 text-reset">
		  <i class="fab fa-instagram"></i>
		</a>
		<a href="" class="me-4 text-reset">
		  <i class="fab fa-linkedin"></i>
		</a>
		<a href="" class="me-4 text-reset">
		  <i class="fab fa-github"></i>
		</a>
	  </div>
	  <!-- Right -->
	</section>
	<!-- Section: Social media -->
  
	<!-- Section: Links  -->
	<section class="">
	  <div class="container text-center text-md-start mt-5">
		<!-- Grid row -->
		<div class="row mt-3">
		  <!-- Grid column -->
		  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
			<!-- Content -->
			<h6 class="text-uppercase fw-bold mb-4">
			  <i class="fas fa-gem me-3"></i>About Us
			</h6>
			<p>
			  ClassBuddy was created as a project for the UW-Madison Software Development Club in Spring 2022.
			</p>
		  </div>
		  <!-- Grid column -->
  
		  <!-- Grid column -->
		  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
			<!-- Links -->
			<h6 class="text-uppercase fw-bold mb-4">
			  Made With
			</h6>
			<p>
				<a th:href="@{https://spring.io/}" target="_blank" class="text-reset">Java Spring</a>
			</p>
			<p>
				<a th:href="@{https://monogdb.com/}" target="_blank" class="text-reset">MongoDB</a>
			</p>
			<p>
				<a th:href="@{https://thymeleaf.org/}" target="_blank" class="text-reset">Thymeleaf</a>
			</p>
			<p>
			  <a th:href="@{https://getbootstrap.com/}" target="_blank" class="text-reset">Bootstrap</a>
			</p>
		  </div>
		  <!-- Grid column -->
  
		  <!-- Grid column -->
		  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
			<!-- Links -->
			<h6 class="text-uppercase fw-bold mb-4">
			  Created By
			</h6>
			<p>
			  <a href="#!" class="text-reset">Dane Jacobson</a>
			</p>
			<p>
			  <a href="#!" class="text-reset">Cole Johnstone</a>
			</p>
			<p>
			  <a href="#!" class="text-reset">Ananya Aggarwal</a>
			</p>
			<p>
			  <a href="#!" class="text-reset">Praveen Sundaram</a>
			</p>
		  </div>
		  <!-- Grid column -->
  
		  <!-- Grid column -->
		  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
			<!-- Links -->
			<h6 class="text-uppercase fw-bold mb-4">
			  Attributions
			</h6>
			<p><i class="fas fa-home me-3"></i> Thank you to Keenan Thompson for the wonderful <span> <a href="@{https://madgrades.com}">madgrades.com</a> </span></p>

		  </div>
		  <!-- Grid column -->
		</div>
		<!-- Grid row -->
	  </div>
	</section>
	<!-- Section: Links  -->
  
	<!-- Copyright -->
	<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
	  © 2021 Copyright:
	  <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
	</div>
	<!-- Copyright -->
  </footer>

</body>
</html>